:root {
    --def-width: 100vw;
    --popup: none
}

html {
    background: linear-gradient(to right, #ECD2C9 0%, #fff0ea 100%);
    width: var(--def-width);
}

@font-face {
    font-family: Lobster;
    src: url(fonts/Lobster-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    width: inherit;
    margin: 0;
    padding: 0;
}

.banner-header {
    position: sticky;
    height: 15em;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}

.banner {
    display: flex;
    background: linear-gradient(to right, #ff35bc 0%, #fbc2eb 100%);
    height: 30%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Lobster, serif;
    font-size: min(3em, 11vw);
    color: aliceblue;
}

h2 {
    font-family: Lobster, serif;
    font-size: min(2em, 9vw);
    text-align: center;
    color: #AA2288;
    margin-block-start: 0.7em;
    margin-block-end: 0.5em;
    border-bottom: solid;
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-top: 0;
}

h3 {
    font-family: Lobster, serif;
    font-size: min(1.5em, 7vw);
    text-align: center;
    color: #FF33CC;
    margin-top: 0.3em;
}

.info-panel {
    height: 60%;
    background-color: white;
}

nav {
    height: 40%;
    flex-direction: column;
    align-items: center;
}

.nav-info {
    flex-direction: row;
}

.nav-buttons {
    flex-direction: row;
    margin-top: 0.5em;
}

a {
    color: inherit;
    text-decoration-line: none;
}

.whatsapp-icon {
    width: auto;
    height: min(35px, 10vw);
    margin-left: 0.1em;
}

.general-icon {
    width: auto;
    height: min(35px, 10vw);
    margin-left: 0.1em;
}

.nav-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: min(1.2em, 5vw);
    background: linear-gradient(to bottom, #fa74cd 0%, #f7e9f3 100%);
    border-radius: 1em;
    padding: 0.3em;
    margin-left: 0.5em;
    margin-top: 0.3em;
}

.phone-container {
    border-radius: 0;
}

.info-text {
    font-family: Lobster, serif;
    font-size: min(1.3em, 6vw);
    font-weight: lighter;
    text-align: center;
    color: #FF0000;
    margin-top: 0.2em;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: flex;
    flex-direction: row;
    max-width: 50em;
    max-height: 40em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
    overflow: hidden;
    object-fit: cover;
}

#wig-popup {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #00000054;
    top: 0;
}

#popup-image {
    position: fixed;
    --popup-width: min(800px, 90vw);
    width: var(--popup-width);
    height: auto;
    left: calc((var(--def-width) - var(--popup-width)) / 2);
    top: 4vh;
}

.wig-container {
    width: 100%;
    height: 100%;
    margin-left: 0.1em;
    cursor: pointer;
}

.right-arrow {
    cursor: pointer;
    height: min(10vw, 3em);
    width: auto;
    align-self: center;
}

.left-arrow {
    cursor: pointer;
    height: min(10vw, 3em);
    width: auto;
    align-self: center;
}

.gallery-wig {
    width: inherit;
    height: inherit;
}

#store-image {
    width: 75%;
}

#path-image {
    width: 85%;
}

.main-description {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: min(1.5em, 3vw);
    text-align: justify;
    width: min(40em, 90%);
    text-indent: 1em;
    line-height: 1.5em;
}

.path-card {
    margin-top: 2em;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.path-gallery {
    margin: 0;
}

.store-container {
    max-height: 30em;
    width: auto;
    display: inherit;
    justify-content: center;
    align-items: center;
}

#path-text {
    text-indent: 0;
    text-align: center;
    border-style: solid;
    border-color: rgb(128, 128, 128);
    border-width: 0.1em;
    margin-block-start: 0;
    margin-block-end: 0.1em;
    width: 85%;
}

footer {
    margin-top: 3em;
    font-size: min(3vw, 1.2em);
    text-align: center;
}
